name: CI

on:
  push:
    branches:
      - master
      - develop
      - new-docker-test

    tags:
      - '*'

  pull_request:

  merge_group:

  issue_comment:
    types:
      - created

env:
  R_LIBS_USER: /usr/local/lib/R/site-library
  LC_ALL: en_US.UTF-8
  NCPUS: 2
  PGHOST: postgres
  CI: true

jobs:
  # ----------------------------------------------------------------------
  # SIPNET TESTS
  # ----------------------------------------------------------------------
  sipnet:
    if: github.event_name != 'issue_comment' || startsWith(github.event.comment.body, '/build')
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    strategy:
      fail-fast: false
      matrix:
        R:
          - "4.0"
          - "4.1"

    services:
      postgres:
        image: mdillon/postgis:9.5
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    container: 
      image: pecan/depends:R${{ matrix.R }}

    steps:
    # checkout source code
    - name: work around https://github.com/actions/checkout/issues/766
      run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
    - uses: actions/checkout@v3
      with:
        set-safe-directory: false

    - name: Set up Docker Compose
      run: |
          sudo apt-get update
          sudo apt-get -y install docker-compose


    - name: Build and run containers
      run: |
        docker-compose up -d

    - name: Wait for services to start
      run: |
        sleep 60 # Adjust the duration as needed
    
    - name: Display running containers
      run: |
        docker-compose ps
        curl --ipv4 http://0.0.0.0:80

    # run SIPNET test
    - name: integration test
      run: ./tests/integration.sh ghaction
